
.topsortby2 {
	padding-bottom: 30px;
}
.ft1 img {
	width: 180px;
	height: 100px;
}
ul.flightstable li.ft2{
	float:left;
	width:33%;
	padding: 0px 0px 0px 20px;
}
@media (min-width: 600px) {
	ul.flightstable li.ft2{
		float:left;
		width:60%;
		padding: 0px;
	}
}
.more-btn {
	margin-top: 60px;
}
.ad-Images {
	height: 150px;
}
.border-none {
	border: none;
}