.pagination {
	float: right;
	margin-right: 10px;
	margin-top: 10px;
}
.pagination ul {
	list-style: none;
}
.pagination ul li {
	display: inline-block;
	vertical-align: middle;
	padding: 5px 10px;
	border: 1px solid #888;
	margin: 0px 5px;
	color: #666;
	font-size: 16px;
}
.pagination .active {
	background-color: #AAA;
	color: #FFF;
}
.double-sym {
	font-size: 35px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#div_driver_details {
	display: none;
}

.headingTr td {
	text-transform: uppercase;
	padding: 10px 0px 10px 5px;
	font-size: 15px;
	text-align: center;
}
.cust-link {
	border: 1px solid #EEE;
	padding: 10px;
	background-color: #AAA;
	color: #444;
}

#div_drivers {
	/*display: none;*/
}

#drivers_list tr td {
	font-size: 14px;
}

.dv-dr-img img {
	width: 100%;
}

.sctn-1 {
	padding: 20px;
    border: 1px solid #c1bfbf;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 10px;
    border-radius: 10px;
}

.child-dv {
	padding: 5px 0px;
}

.child-dv label {
	color: #666;

}
.child-dv textarea {
	width: 100%;
	height: 100px;
	padding: 5px;
	/*min-height: 50px;
	max-height: 150px;*/
	font-size: 14px;
}
.clear {
	clear: both;
}
.cmnt-lst-item {
	border: 1px solid #dddada;
    background-color: #eae9e999;
    color: #444;
    border-radius: 5px;
    padding: 5px;
}
.cmnt-lst-item .right {
	text-align: right;
	padding-right: 10px;
	font-size: 15px;
	color: #777;
	font-weight: bold;
}
.cmnt-lst-item .left {
	font-size: 15px;
	color: #777;
	font-weight: bold;
}
.cmnt-lst-item .cmnt {
	font-size: 13px;
	color: #777;
	text-align: justify;
}
.reg_status {
	margin: 0px;
	margin-top: 10px;
	font-style: italic;
}
.mandatory {
	color: #e74c3c;
}
#editButton, #updateButton, #cancelButton {
	width: 100%;
}
#updateButton {
	display: none;
}
#chooseDrImage, #choosevhclImage {
	display: none;
}
.search-div {
	padding: 10px;
	/*float: right;*/
}
#listownerCommission td {
    padding: 2px;
    font-size: 14px;
    text-align: center;
    /* font-weight: bold; */
    color: #333;
}
#admin_commisson {
    /*overflow: auto;*/
    padding: 10px;
}